<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>تقديم الحضور</title>
</head>
<body>
    <div class="container-fluid">

        <h1 class="text-center">متابعة الحضور - {{ class_name }}</h1>

        <div class="row d-flex justify-content-between">
            <div class="col d-flex justify-content-between">
                <div class="text-start" id="previous_date" data-lesson-date="{{ previous_date }}">
                    <button class="btn btn-outline-secondary">
                        <i class="bi bi-chevron-right"></i> <!-- Bootstrap Icons -->
                        <span>{{ previous_date }}</span>
                    </button>
                </div>
                <!-- Next Icon with Date -->
                <div class="text-end" id="next_date" data-lesson-date="{{ next_date }}">
                    <button class="btn btn-outline-secondary">
                        <span>{{ next_date }}</span>
                        <i class="bi bi-chevron-left"></i>
                    </button>
                </div>
            </div>
        </div>
        <form method="POST" action="{{ url_for('attendance', class_id=class_id) }}">
            <!-- Current Date -->
            <div class="col text-center">
                <input type="date" id="lesson_date" name="lesson_date" class="mb-2 p-2" required>
            </div>

            <table id="scoresTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>اسم الطالب</th>
                        {% for score in scores_labels %}
                            <th>{{ score.label }}</th>
                        {% endfor %}
                        <th>الإجراءات</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr id="studentId_{{ student.id }}">
                            <td><a href="{{ url_for('student', student_id=student.id) }}">{{ student.name }}</a></td>
                            {% for score in scores_labels %}
                                <td><input type="checkbox" name="{{ score.name }}_{{ student.id }}"></td>
                            {% endfor %}
                            <td><a href="{{ url_for('monthly_report', class_id=class_id, student_id=student.id) }}">عرض التقرير الشهري</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="actions text-center">
                <input type="submit" class="btn btn-primary" value="تقديم الحضور">
            </div>
        </form>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the current date
        const today = new Date();
        
        // Format the date as YYYY-MM-DD
        const formattedDate = today.toISOString().split('T')[0];
        
        // Set the default value of the date input field
        document.getElementById("lesson_date").value = formattedDate;
        fetchAndUpdateAttendance(formattedDate);
    });


    // add event listener for lesson_date element when set or changed, to load attendance data for that date.
    document.getElementById("lesson_date").addEventListener("change", async function () {
        await fetchAndUpdateAttendance(this.value);
    });

    // add event listener for previous_date element when clicked, to load attendance data for that date.
    document.getElementById("previous_date").addEventListener("click", async function () {
        console.log("previous_date clicked");
        console.log("previous_date value:", this.getAttribute("data-lesson-date"));
        await fetchAndUpdateAttendance(this.getAttribute("data-lesson-date"));
    });

    // add event listener for next_date element when clicked, to load attendance data for that date.
    document.getElementById("next_date").addEventListener("click", async function () {
        console.log("next_date clicked");
        console.log("next_date value:", this.getAttribute("data-lesson-date"));
        await fetchAndUpdateAttendance(this.getAttribute("data-lesson-date"));
    });

    async function fetchAndUpdateAttendance(lessonDate) {
        try {
            // Fetch attendance data for the selected date and class
            const response = await fetch(`/attendance_data/{{ class_id }}/${lessonDate}`);
            if (!response.ok) throw new Error(`HTTP error! Status: ${response.status}`);

            const data = await response.json();
            if (data) {
                // set current date to lesson_date element
                document.getElementById("lesson_date").value = lessonDate;

                console.log("Fetched attendance data:", data);
                // get previous_date_element and set its data-lesson-date attribute and value to previous_date
                const previousDateElement = document.getElementById("previous_date");
                previousDateElement.setAttribute("data-lesson-date", data.previous_date);
                previousDateElement.querySelector("span").innerText = data.previous_date;

                // same for next date
                const nextDateElement = document.getElementById("next_date");
                nextDateElement.setAttribute("data-lesson-date", data.next_date);
                nextDateElement.querySelector("span").innerText = data.next_date;
            }
            if (!data.scores || data.scores.length === 0) {
                const checkboxes = document.querySelectorAll("#scoresTable input[type='checkbox']");
                checkboxes.forEach(checkbox => checkbox.checked = false);
                console.log("No attendance data found for the selected date and class.", data);
                return;
            }
            // Update the DOM with the fetched data
            data.scores.forEach(studentScores => {
                const studentRow = document.querySelector(`tr[id="studentId_${studentScores.student_id}"]`);
                if (!studentRow) return;

                Object.keys(studentScores).forEach(prop => {
                    const scoreCheckbox = studentRow.querySelector(`input[name="${prop}_${studentScores.student_id}"]`);
                    if (scoreCheckbox) {
                        scoreCheckbox.checked = Boolean(studentScores[prop]);
                    }
                });
            });
        } catch (error) {
            console.error("Error fetching or processing attendance data:", error);
        }
    }

</script>
</html>
