{% extends 'base.html' %}
{% block head %}
    <title>{% block title %}إدارة وتحكم{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        .actions {
            text-align: center;
        }
        input[type="submit"] {
            background-color: #007bff;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            transition: background-color 0.3s ease;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }

        .new_teacher_form {
            display: none;
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .new_class_form {
            display: none;
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
{% endblock %}
{% block content %}
<div class="form-container">
    <h1>إدارة وتحكم</h1>
    <button onclick="openTeacherForm()">إضافة معلم</button>
    <button onclick="openClassForm()">إضافة صف</button>

    <div class="new_teacher_form">
        <form action="{{ url_for('add_teacher') }}" method="post">
            <div class="form-group">
                <label for="teacher_name">اسم المعلم:</label>
                <input type="text" name="teacher_name" id="teacher_name" required>
                <label for="teacher_password">كلمة المرور:</label>
                <input type="password" name="teacher_password" id="teacher_password" required>
            </div>
            <div class="actions">
                <input type="submit" value="إضافة معلم">
            </div>
        </form>
    </div>

    <div class="new_class_form">
        <form action="{{ url_for('add_new_class') }}" method="post">
            <div class="form-group">
                <label for="class_name">اسم الصف:</label>
                <input type="text" name="class_name" id="class_name" required>
                <label for="teacher_id">المعلم:</label>
                <select name="teacher_id" id="teacher_id">
                    {% for teacher in teachers %}
                    <option value="{{ teacher.id }}">{{ teacher.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="actions">
                <input type="submit" value="إضافة صف">
            </div>
        </form>
    </div>

    <table>
        <thead>
        <tr>
            <th>المعلم</th>
            <th>الصفوف المخصصة</th>
            <th>أدوات</th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.name }}</td>
            <td>
                <ul class="assigned_classes">
                    {% for assigned_teacher in teachers_with_assigned_classes if assigned_teacher.teacher_id == teacher.id %}
                        {% for assigned_class in assigned_teacher.assigned_classes %}
                        <li>
                            {{ assigned_class.name }}
                            <a href="{{ url_for('remove_class', teacher_id=teacher.id, class_id=assigned_class.id) }}">X</a>
                        </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul class="assigned_classes">
                    {% for class in classes if teacher.id not in class.teacher_ids %}
                    <li>{{ class.name }} <a href="{{ url_for('add_class', teacher_id=teacher.id, class_id=class.id) }}">+</a></li>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function openTeacherForm() {
        var form = document.querySelector('.new_teacher_form');
        form.style.display= 'block';
    }

    function openClassForm() {
        var form = document.querySelector('.new_class_form');
        form.style.display= 'block';
    }

</script>
{% endblock %}