{% set current_page = request.endpoint %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="app-navbar">
    <div class="container-fluid">
        {% if current_page != 'select_class' %}
            <a class="navbar-brand back-link" href="#" onclick="goBack()">
                <i class="bi bi-arrow-right"></i>
            </a>
        {% endif %}
        <a class="navbar-brand" id="navbar-title">متابعة صفية</a>

        <div id="navbarNav" style="display: inline-flex">
            <span class="extra-links">
            </span>
            <ul class="navbar-nav">


                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">خروج</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    function addNavLink(element, left = true) {
       // add element to extra-links
        let extraLinks = document.querySelector('.extra-links');
        if (left) {
            extraLinks.insertBefore(element, extraLinks.firstChild);
        } else {
            extraLinks.appendChild(element);
        }
    }

    function setNavbarTitle(title) {
        document.getElementById('navbar-title').innerText = title;
    }

    function goBack() {
        console.log('going back');
        window.history.back();
    }
</script>
