{% set page_title = "اختيار الصف" %}
{% extends "base.html" %}

{% block head %}
    <title>{% block title %}اختيار الصف{% endblock %}</title>
    <style>
        
        .class-selection h1 {
            color: #2c3e50; 
            text-align: center; 
            font-size: 1.8em; 
            margin-bottom: 20px; 
        }
        
        .class-selection p {
            text-align: center; 
            font-size: 1.1em; 
            color: #666; 
            margin-bottom: 30px; 
        }
        
        .class-selection ul {
            list-style-type: none; 
            padding: 0; 
        }
        
        .class-selection li {
            cursor: pointer;
            margin-bottom: 15px; 
            padding: 15px; 
            background-color: #f9fafc; 
            border-radius: 6px; 
            transition: box-shadow 0.3s ease;
            text-align: center;
            text-decoration: none;
            color: #0d5bae;
        }
        
        .class-selection li:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        }

        
        .class-selection .actions span {
            font-size: 1.1em; 
            font-weight: bold; 
            color: #34495e; 
        }

    </style>
{% endblock %}
{% block content %}
    <div class="form-container class-selection">
        <p>مرحبًا، {{ teacher_name }}! اختر صفًا أدناه لتقديم الحضور أو عرض التقارير.</p>
        <ul>
            {% for class in classes %}
                <li class="classes" onclick="window.location.href='{{ url_for('attendance', class_id=class.id) }}'">
                        <span>{{ class.name }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}