{% extends 'base.html' %}

{% block head %}
    <title>{% block title %}معلومات الطالب{% endblock %}</title>
{% endblock %}

{% block content %}

<div class="container mt-5">

    {% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {% endif %}
    {% if not student.get('active', True) %}
    <div class="alert alert-warning">
        تم حذف هذا الطالب بتاريخ {{ student.get('inactive_date') }}
    </div>
    {% endif %}

    <form id="studentForm">
        <div class="mb-3">
            <label for="studentName" class="form-label">اسم الطالب</label>
            <input type="text" class="form-control" id="studentName" name="name" value="{{ student.get('name', '') }}" placeholder="أدخل اسم الطالب" required>
        </div>
        <div class="mb-3">
            <label for="studentClass" class="form-label">الصف</label>
            <select class="form-select" id="studentClass" name="class">
                {% for class in classes %}
                <option value="{{ class.id }}" {% if student.get('class_id') == class.id %}selected{% endif %}>
                    {{ class.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="joinDate" class="form-label">تاريخ الالتحاق</label>
            <input type="date" class="form-control" id="joinDate" name="date_joined" value="{{ student.date_joined if student.date_joined else '' }}">
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">رقم الهاتف</label>
            <input type="tel" class="form-control" id="phoneNumber" name="phone" value="{{ student.phone if student.phone else '' }}" placeholder="أدخل رقم الهاتف">
        </div>
        <div class="mb-3">
            <label for="parentPhoneNumber" class="form-label">رقم هاتف ولي الأمر</label>
            <input type="tel" class="form-control" id="parentPhoneNumber" name="parent_phone" value="{{ student.parent_phone if student.parent_phone else '' }}" placeholder="أدخل رقم هاتف ولي الأمر">
        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">
                {% if student.get('id') %}
                حفظ التغييرات
                {% else %}
                إضافة طالب جديد
                {% endif %}
            </button>
            {% if student.get('id') %}
            <button type="button" class="btn btn-info">
                <a href="{{ url_for('monthly_report', class_id=student.get('class_id'), student_id=student.id) }}" style="text-decoration: none; color: white;">
                    <i class="bi bi-clipboard2-check"></i>
                    إنشاء تقرير
                </a>
            </button>
            {% endif %}
            {% if student.get('id') %}
            {% if student.get('active', True) %}
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="bi bi-person-dash"></i>
                حذف الطالب
            </button>
            {% else %}
            <button type="button" class="btn btn-success">
                <a href="/activate_student/{{ student.id }}/{{ student.class_id }}" style="text-decoration: none; color: white;">
                    <i class="bi bi-person-plus"></i>
                    إعادة تفعيل الطالب
                </a>
            {% endif %}
            {% endif %}
        </div>
    </form>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">تأكيد الحذف</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="إغلاق"></button>
            </div>
            <div class="modal-body">
                هل أنت متأكد من أنك تريد حذف هذا الطالب؟ هذا الإجراء لا يمكن التراجع عنه.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
                <a href="/delete_student/{{ student.id }}/{{ student.class_id }}" class="btn btn-danger">حذف الطالب</a>
            </div>
        </div>
    </div>
</div>

<script>
    // Handle form submission
    document.getElementById('studentForm').addEventListener('submit', async function (e) {
        e.preventDefault();
        console.log('student id: {{ student.get("id") }}');
        if ('{{ student.get("id") }}' > 0) {
            this.action = `/update_student/{{ student.id }}`;
        } else {
            this.action = '/students/new';
        }
        this.method = 'POST';
        this.submit();

    });

    // set navbar-title to student name on page load, or "New Student" if no student
    document.addEventListener('DOMContentLoaded', function () {
        let studentName = document.getElementById('studentName').value;
        let navbarTitle = document.getElementById('navbar-title');
        if (studentName) {
            navbarTitle.textContent = studentName;
        } else {
            navbarTitle.textContent = 'إضافة طالب جديد';
        }
    });

</script>

{% endblock %}